{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <div align="center">
            <h1>welcom to the page for {{current_user.username}}</h1>
            <img align="center" src="{{url_for('static',filename='profile_pics/' + current_user.profile_image)}}?{{epochtime}}">
        </div>
    </div>

    <div class="container">
        <!--excelやpngファイルを表示するときはaction="" enctype="multipart/form-data"が必要-->
        <form method="POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}

            <div class="form-group">
                {{form.username.label(class='form-group')}}
                {{form.username(class='form-group')}}
            </div>

            <div class="form-group">
                {{form.email.label(class='form-group')}}
                {{form.email(class='form-group')}}
            </div>
            

            <div class="form-group">
                {{form.picture.label(class='form-group')}}
                {{form.picture(class='form-group')}}
            </div>


            <div class="form-group">
                {{form.submit(class='btn btn-primary')}}
            </div>
            
            

        </form>
    </div>
{% endblock %}